table, th, td {
  border: 1px solid;
  text-align: center;
}


.styled-table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9em;
  min-width: 400px;
  margin-top: 50px;
}

.styled-table thead tr {
  background-color: #17a2b8;
  color: #ffffff;
}

.text-center{

margin-bottom: 50px;

}
