<div class="row">
  <div class="col-sm-12">
    <app-header></app-header>
  </div>
</div>
<br>

<div class="styled-table" >
  <h3 class="text-center">Lista de Productos</h3>
<table class="container">
  <thead>
      <tr>
          <th>Id</th>
          <th>Nombre Producto</th>
          <th>Referencia</th>
          <th>Categoria</th>
          <th>Precio</th>
          <th>Peso</th>
          <th>Inventario</th>
          <th>Fecha</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor ="let product of data">
          <td>{{product.id}}</td>
          <td>{{product.nombre}}</td>
          <td>{{product.referencia}}</td>
          <td>{{product.categoria}}</td>
          <td>{{product.precio}}</td>
          <td>{{product.peso}}</td>
          <td>{{product.inventario}}</td>
          <td>{{product.fecha}}</td>
      </tr>
  </tbody>
</table>
</div>

