<div class="container">
  <div class="row">
    <div class="col-12">
      <app-header></app-header>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h3 class="text-center">Gráficos Estadísticos</h3>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-2">
    </div>

    <div class="col-8">
      <app-graph1></app-graph1>
    </div>

    <div class="col-2">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-2">
    </div>

    <div class="col-8">
      <app-graph2></app-graph2>
    </div>

    <div class="col-2">
    </div>
  </div>
</div>




