<div class="row">
  <div class="col-sm-12 mt-2">
    <h4 class="text-center">Inventario de Productos</h4>
  </div>
</div>


<div class="row">
  <div class="col-sm-2 mx-5">
  </div>
  <div #ContainerRef class="card-body">

    <ngx-charts-advanced-pie-chart
        *ngIf="inventory?.length"
        [view]="view"
        [scheme]="'forest'"
        [results]="inventory"
        [gradient]="gradient"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
    </ngx-charts-advanced-pie-chart>

  </div>
  <div class="col-sm-2  mx-5">
 </div>




</div>

